@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Black.ttf");
	src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
	src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Bold.ttf");
	src: url("../fonts/Raleway/Raleway-ExtraLight.ttf");
	src: url("../fonts/Raleway/Raleway-Light.ttf");
	src: url("../fonts/Raleway/Raleway-Medium.ttf");
	src: url("../fonts/Raleway/Raleway-Regular.ttf");
	src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
	src: url("../fonts/Raleway/Raleway-Thin.ttf");
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?tv4x96');
	src:  url('../fonts/icomoon/icomoon.eot?tv4x96#iefix') format('embedded-opentype'),
	url('../fonts/icomoon/icomoon.ttf?tv4x96') format('truetype'),
	url('../fonts/icomoon/icomoon.woff?tv4x96') format('woff'),
	url('../fonts/icomoon/icomoon.svg?tv4x96#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
	content: "\f041";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-share:before {
	content: "\f064";
}
.icon-phone:before {
	content: "\f095";
}
.icon-envelope:before {
	content: "\f0e0";
}
