@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Black.ttf");
	src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
	src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Bold.ttf");
	src: url("../fonts/Raleway/Raleway-ExtraLight.ttf");
	src: url("../fonts/Raleway/Raleway-Light.ttf");
	src: url("../fonts/Raleway/Raleway-Medium.ttf");
	src: url("../fonts/Raleway/Raleway-Regular.ttf");
	src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
	src: url("../fonts/Raleway/Raleway-Thin.ttf");
}